body{
    background-color:rgb(0,35,35);
}
p{
    color:green;
    font-family:Arial, Helvetica, sans-serif;
}
h1{
    color:rgb(185, 33, 33);
    font-family:Arial, Helvetica, sans-serif;
    text-align: center;
}
h2{
    color:yellow;
}
h3{
    color:orange;
}
a{
    color:white;
}
a:hover{
    color:blue;
}
table, th, td{
    border: 3px solid black;
    color:green;
}
li{
    color:green;
}